<div class="nutrition-facts clearfix">
    <h3>Nutrition Facts</h3>
    <div>
        <p>Calories:</p>
        <p><strong>{{recipe.calories}} kcal</strong></p>
    </div>
    <div>
        <p>Carbohydrate:</p>
        <p><strong>{{recipe.carbohydrates}} g</strong></p>
    </div>
    <div>
        <p>Fat:</p>
        <p><strong>{{recipe.fats}} g</strong></p>
    </div>
    <div>
        <p>Protein:</p>
        <p><strong>{{recipe.proteins}} g</strong></p>
    </div>
    <div>
        <p>Cholesterol:</p>
        <p><strong>{{recipe.cholesterol}} mg</strong></p>
    </div>
        
</div>