{% block main %}

<div class="reply">
<h3>Leave a Reply</h3>
<form method="post" id="commentform" class="comment-form">
    <p class="comment-form-comment">
        <textarea class="form-control" id="comment" name="comment" cols="45" rows="5" aria-required="true"></textarea>
    </p>
    <div class="row">
        <div class="col-md-4">
            <p class="comment-form-author">
                <label for="author">Name <span class="required">*</span></label>
                <input class="form-control" id="author" name="author" type="text" value="" size="30" maxlength="245" aria-required="true" required="required">
            </p>
        </div>
        <div class="col-md-4">
            <p class="comment-form-email">
                <label for="email">Email <span class="required">*</span></label>
                <input class="form-control" id="email" name="email" type="text" value="" size="30" maxlength="100" aria-required="true" required="required">
            </p>
        </div>
        <div class="col-md-4">
            <p class="comment-form-url">
                <label for="url">Website</label>
                <input class="form-control" id="url" name="url" type="text" value="" size="30" maxlength="200">
            </p>
        </div>
    </div>
    <p class="form-submit">
        <input class="btn btn-submit btn-block" name="submit" type="submit" id="submit" value="Post Comment">
    </p>
</form>
</div>

{% endblock %}
