{% extends "base.html" %}

{% block content %}
    <h1>Add recipe</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }}<br>
            {{ form.name(size=32) }}
        </p>
        <p>
            {{ form.content.label }}<br>
            {{ form.content(size=250) }}
        </p>
        <p>
            {{ form.ingredients.label }}<br>
            {{ form.ingredients(size=32) }}
        </p>
        <p>
            {{ form.allergens.label }}<br>
            {{ form.allergens(size=32) }}
        </p>
        <p>
            {{ form.cuisine.label }}<br>
            {{ form.cuisine(size=1) }}
        </p>
        <p>
            {{ form.country.label }}<br>
            {{ form.country(size=1) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}