{% extends "base.html" %}

{% block content %}


<!-- Search -->
<div class="search">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>Browse Recipes</h2>
                <div class="row">
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label>Choose category</label>
                            <select class="js-search-category form-control" name="category" data-placeholder="Choose Category">
                                <!-- Jinja for categories in DB -->
                                {% for category in categories %}
                                    <option value="1">{{ category.name }}</option>
                                {% endfor %}
                            </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <label>Select one or more ingredients that should be included in recipe</label>
                <select class="js-search-ingredients form-control" name="ingredients[]" multiple="multiple" data-placeholder="Included Ingredients">
                    <!-- Jinja for ingredients -->
                    {% for ingredient in ingredients %}
                        <option value="1">{{ ingredient.name }}</option>
                    {% endfor %}
                </select>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="form-group">
                                <label>Recipe needs to have</label>
                                <select class="js-search-category2 form-control" name="category" data-placeholder="Choose Category">
                                    <option value="1">All of selected ingredients </option>
                                    <option value="2">Any of selected ingredients</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Search by Keyword">
                                <button type="submit" class="btn">Search Recipes</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- List Recipes -->
    <div class="list">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h5><i class="fa fa-cutlery" aria-hidden="true"></i> All Recipes</h5>
                </div>


                <!-- Jinja generate this recipe -->
                {% for recipe in recipes %}
                <div class="col-lg-4 col-sm-6">
                    <div class="box grid recipes">
                        <div class="by"><i class="fa fa-user" aria-hidden="true"></i>{{ recipe.name }}</div>
                        <a href="#"><img src="images/recipe2.jpg" alt=""></a>
                        <h2><a href="#">{{ recipe.name }} </a></h2>
                        <p>{{ recipe.content }}</p>
                        <div class="tag">
                            {% for ingredient in first_three_ingredients %}
                                <a href="#">{{ ingredient.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}


                <div class="col-lg-12 text-center">
                    <a href="#" class="btn btn-load">Load More</a>
                </div>
            </div>
        </div>
    </div>





{% endblock %}

