{% extends "base.html" %}
{% block app_content %}
<div class="page"> 
    <div class="container">
        <div class="row justify-content-center" style="width:300px; height:300px;">
            <canvas id="myChart" width="200" height="200"></canvas> 
            <p>Number of recipes in each category</p>
        </div>
    </div>    
<script>
  var ctx = document.getElementById('myChart').getContext('2d');
  var categories = {{ categories|safe }}
  var myChart = new Chart(ctx, {
      type: 'pie',
      data: {
          labels: categories,
          datasets: [{
              label: '# of Votes',
              data: {{ count|safe }},
              backgroundColor: [
                  'rgba(255, 99, 132, 0.2)',
                  'rgba(54, 162, 235, 0.2)',
                  'rgba(255, 206, 86, 0.2)',
                  'rgba(75, 192, 192, 0.2)',
                  'rgba(153, 102, 255, 0.2)',
                  'rgba(255, 159, 64, 0.2)'
              ],
              borderColor: [
                  'rgba(255, 99, 132, 1)',
                  'rgba(54, 162, 235, 1)',
                  'rgba(255, 206, 86, 1)',
                  'rgba(75, 192, 192, 1)',
                  'rgba(153, 102, 255, 1)',
                  'rgba(255, 159, 64, 1)'
              ],
              borderWidth: 2
          }]
      },
      options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
      }
  });
</script>
</div>

{% endblock %}