{% extends "base.html" %}

{% block content %}

<!-- Search -->
<form method='POST' id='category_form' action='{{ url_for("search_handler", form=form) }}'>
  {{ form.hidden_tag() }}
  <div class="search">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>Browse Recipes</h2>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                {{ form.category.label }}
                {{ form.category(class_="form-control") }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                {{ form.cuisine.label }}
                {{ form.cuisine(class_="form-control") }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                {{ form.ingredients.label }}
                {{ form.ingredients(class_="form-control") }}
              </div>
              <div class="form-group">
                {{ form.allergens.label }}
                {{ form.allergens(class_="form-control") }}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                {{ form.any_ingredients.label }}
                {{ form.any_ingredients(class_="form-control") }}
              </div>
              <div class="form-group">
                {{ form.sortkey.label }}
                {{ form.sortkey(class_="form-control") }}
              </div>
              <div class="form-group btn" style="display:block;">
                <button type="submit" class="btn">Search Recipes</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <!-- List recipes -->
  {% include '_list_recipes.html' %}

</form>

<!-- Load more recipes -->
<div class="col-lg-12 text-center">
  {% if next_url %}
  <button class="btn btn-load">
    <a href="{{ next_url }}" class="btn btn-load">Next Page</a>
  </button>
  {% endif %}
  {% if prev_url %}
  <button class="btn btn-load">
    <a href="{{ prev_url }}" class="btn btn-load">Previous Page</a>
  </button>
  {% endif %}
</div>





{% endblock %}