{% extends 'base.html' %}
{% block app_content %}

<!-- Detail Recipes-->
<div class="recipe-detail">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <h4>{{ recipe.timestamp }}</h4>
                <h1>{{ recipe.name }}</h1>
                <div class="by"><i class="fa fa-user" aria-hidden="true"></i>{{ recipe.author.name }}</div>
            </div>
            <div class="col-lg-8">
                
                
                <img src="{{ url_for('static', filename=recipe.image) }}" alt="Image of the Dish">
                
                
                <div class="info">
                    <div class="row">
                        <div class="col-lg-4 col-sm-4">
                            <p>Serves:</p>
                            <p><strong><i class="fa fa-users" aria-hidden="true"></i>{{ recipe.serves_num_people }} people</strong></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <p>Prep Time:</p>
                            <p><strong><i class="fa fa-clock-o" aria-hidden="true"></i>{{ recipe.time_to_prepare }} min</strong></p>
                        </div>
                        <div class="col-lg-4 col-sm-4">
                            <p>Cooking:</p>
                            <p><strong><i class="fa fa-clock-o" aria-hidden="true"></i>{{ recipe.cooking_time }} Hour</strong></p>
                        </div>
                    </div>
                </div>
                
                
                    <p>{{ recipe.content }}</p>
                    <div class="tag">
                        {% for ingredient in recipe._ingredients %}
                            <a href="#">{{ ingredient.name }}</a>
                        {% endfor %}
                    </div>
                    
                    <div class="ingredient-direction">
                        <div class="row">
                            <div class="col-lg-6 col-sm-6">
                                <h3>Ingredients</h3>
                                <ul class="ingredients">
                                    {% for ingredient in recipe._ingredients %}
                                    <li>
                                        {{ ingredient.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                                <h3>Allergens</h3>
                                <ul class="ingredients">
                                    {% for allergen in recipe._allergens %}
                                    <li>
                                        {{ allergen.name }}
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div class="col-lg-6 col-sm-6">
                                <h3>Directions</h3>
                                <ol class="directions">
                                    {{ recipe.content }}
                                    <li>Mei latine maluisset constituam ut. Eum vero vocibus at, minim debet deterruisset cum ei. Soluta virtute tibique cu quo, his vivendo suscipit ea. Legere fabulas pro ea.</li>
                                    <li>An unum soluta eos, audire meliore te nam. Mundi choro sensibus ut vim, ut sed errem ludus tractatos, eu vix fierent definiebas. Ad est autem appareat. Vim ne latine interpretaris, eum sensibus mediocritatem cu. </li>
                                    <li>Est an etiam cetero fierent. At sit primis evertitur. Est prima electram voluptatum ne. Nec id atqui contentiones mediocritatem, ut mel enim soleat audire, tecripta consequat ea.</li>
                                    <li>Vidit mutat periculis sed ex, ex mel nihil suscipiantur. Brute noster aeterno et eum, mea et idque primis repudiare.</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                    
                    
                    
                    <div class="nutrition-facts clearfix">
                        <h3>Nutrition Facts</h3>
                        <div>
                            <p>Calories:</p>
                            <p><strong>632 kcal</strong></p>
                        </div>
                        <div>
                            <p>Carbohydrate:</p>
                            <p><strong>37 g</strong></p>
                        </div>
                        <div>
                            <p>Fat:</p>
                            <p><strong>92 g</strong></p>
                        </div>
                        <div>
                            <p>Protein:</p>
                            <p><strong>63 g</strong></p>
                        </div>
                        <div>
                            <p>Cholesterol:</p>
                            <p><strong>0 mg</strong></p>
                        </div>
                        
                    </div>
                    
                    {% include '_comments.html' %}

                    {% include '_reply.html' %}
                        
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
{% endblock %}